html,body {
font-family: 'Lato', sans-serif;
background: #f0d0b9;
background-color: #4B4B4B;

}

#profilePicture{
width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
margin-top: 30px;
}

#profilePictureSmall {
	width: 160px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
}

#profileName{
	margin-top: 200px;
	font-size: 45px;
}

#profileNamePictureArea {
	text-align: center;
	display: block;
	margin: 0px;
	color: #d6d6d6;

}

.profileThumbnail{
width: 200px;
height:130px;
border: 0.5px solid #ddd; /* Gray border */
border-radius: 3px;  /* Rounded border */
padding: 3px; /* Some padding */
}

.profileThumbnail:hover{
width: 200px;
height:130px;
box-shadow: 0 0 2px 1px rgba(220,220,220,1);

}

#profileVideosAreaLeft{
margin-top: 50px;
margin-left: -30px;
}

#profileVideosAreaRight{
margin-top: 50px;
margin-left: -30px;
}

#profileVideosAreaLeftBottom{
margin-top: 20px;
}

#editPicture{
margin-left: 65px;
}

.editProfileFields{
border: 2px;
}

.videoCategory{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/*background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('//spin.atomicobject.com/wp-content/uploads/20170324102432/portfolio-tips-feature-image.jpg');*/
}

.video_area{
	position: relative;
	text-align: center;

}
/*h4{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}*/

.editProfileButtonArea{
	margin-top: 30px;
}

#logo{
	margin-top: -25px;
	padding: 0px;
	width: 130px;
	height: 65px;
}

.navbar{
	background-color: white;
	height: 70px;
	border-width: 2px;
	color: #d1d1d1;
	border-color: #d1d1d1;
	border-bottom: 0px;
	border-color: transparent;
}

.input-group{
	margin-left: 300px;
	margin-top: 8px;
	width: 300px;
}
.navbarIcons{
	margin-left: 950px;
	padding-left: 30px;
}

.material-icons{
	margin-top: 15px;
	margin-right: 40px;
	font-size: 30px;
	color: #d6d6d6;

}

.material-icons:hover{
	color: #8e8e8e;
}

.clickableUsername:hover {
	color: white;
}

.clickableUsername {
	color: white;
}

.material-icons:active{
	color: #8e8e8e;
}

.input-group-btn{
	margin-left: 40px;
}


.exploreYoutubeArea{
	margin-top: 20px;
	margin-right: 25px;
	margin-left: 100px;
	/*display: flex;*/
	/*box-sizing: border-box;*/

}

.welcomeLogo {
	padding: 50px;
}

.jumbotron {
	background-color: white;
	height: 100%;
}

#welcome {
	text-align: center;
}

#signup {
	text-align: center;
}

.actionButton {
	background-color: #c8d9ec;
	border-radius: 5px;
	padding: 10px;
	color: black;
}

#or {
	margin: 40px;
}

.EditProfile {
	margin-top: 70px;
}

.SelectProfile {
	margin-top: 50px;
}

.Profile {
		margin-top: 50px;
}

/* Flow.js */

.exploreSmallYoutube{
	width: 308px;
	height: 157.5px;
}

/*.exploreSmallYoutube{
	width:280px;
	height: 157.5px;
	margin-top: 3%;
	margin-bottom: 3%;
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;
}*/

/*.exploreSmallYoutube:hover {
	width: 336px;
	height: 189px;
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;

}


.exploreSmallYoutube:hover ~ .exploreSmallYoutube{
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;
	transform: translate(3em,0);
	-webkit-transform: translate(3em,0);
	-moz-transform: translate(3em,0);
	-o-transform: translate(3em,0);
	-ms-transform: translate(3em,0);
}

div ~ .exploreSmallYoutube + .exploreSmallYoutube:hover {
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;
	transform: translate(3em,0);
	-webkit-transform: translate(3em,0);
	-moz-transform: translate(3em,0);
	-o-transform: translate(3em,0);
	-ms-transform: translate(3em,0);
}



.exploreSmallYoutube:onMouseLeave {
	width: 280px;
	height: 157.5px;
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;
}


.exploreSmallYoutube:onMouseLeave ~ .exploreSmallYoutube{
	width: 280px;
	height: 157.5px;
	-webkit-transition-property: height, width;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: height, width;
	-moz-transition-duration: 0.5s;
	transition-property: height, width;
	transition-duration: 0.5s;
}*/

#file {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	}

.exploreSmallYoutubeArea{
	margin-right: 69px;
	margin-left: 25px;
}

.exploreSmallYoutubeButton{
	width: 308px;
	height: 60px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

#myModalLabel{
	text-align: center;
}

.modalDescriptionBox{
	width: 474.32px;
	height: 100px;
}

.modal-body{
	margin-right: 10px;
}

#modalDescription{
	margin-top: 15px;
	margin-bottom: 15px;
	/*margin-left: 65px;*/
	text-align: center;
	font-size: 18px;
}

#message input,
#message textarea {
    width: 250px;
    height: 40px;
    padding: 10px;
}

#message li input[type=text],
#message li textarea {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
}

#message li textarea {
    height: 150px;
    resize: none;
}

#modalVideo{
	width: 474.32px;
	height: 242.55px;
}

#modalDescriptionBoxShare{
	font-size: 16px;
}

.exploreChosenYoutube{
	border: 0.5px solid #262626;
	margin-right: 3px;
}

.promotedArea{
	margin-top: 20px;
	margin-left: 90px;
}

#promotedVideo{
	width: 840px;
	height: 472.5px;
}

#sharePromotedVideo{
	width: 840px;
	margin-left: 0px;
}


.profileVideo {
	text-align: center;
	margin-bottom: 5px;
}

.youtubePost {
	color: #ededed;
	display: block;
	margin-bottom: 5px;

}

.youtubePost {
	margin-left:55px;
}

.postText {
	font-style: italic;
}

.shareButton{
	/*display: block;
	background-color: #c8d9ec;
	border-radius: 5px;
	padding: 10px;
	color: black;
	width: 100%;*/
	width: 758px;
	height: 60px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.shareButtonProfile {
	width: 100%;
	height: 60px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.removeShareButton {
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.friendFlowArea{
	margin-top: 0px;
}

.otherProfile {
	margin-top: 10px;
}

.youtubePostHead {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.youtubePostVideo{
	margin-bottom: 30px;
}

.FlowVertical {
	margin-top: 70px;
}

.FlowVerticalVideo {
	margin-bottom: 5px;
}

.followButtons{
	margin-top: 20px;
}

.ProfilePictureArea{
	margin-top: 40px;
	margin-left: -50px;
}

.glyphicon-cog{
	margin-left: 30px;
}

#follow{
	width: 100px;
	font-size: 12px;
	height: 50px;
}

#youtubePostButton {
	margin-bottom: 40px;
}

.resUserPicture{
	width: 180px;
height: 18 0px;
border-radius: 50%;
object-fit: cover;
margin-top: 60px;
}

.resUsername{
	margin-top: 20px;
	margin-left: 140px;
}

.resUsers{
	color: #d6d6d6;
}

.resUsersText{
	margin-top: 50px;
	margin-left: 200px;
}
