html,body {
	font-family: 'Lato', sans-serif;
	background: #f0d0b9;
	background-color: #4B4B4B;

}

#profilePicture{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-top: 30px;
	margin-left: 38%;
}

.profilePictureSmall {
	width: 160px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
}

#profileName{
	margin-top: 5%;
	font-size: 25px;
}

#profileNamePictureArea {
	text-align: center;
	display: block;
	margin: 0px;
	color: #d6d6d6;

}

.pushRight {
	margin-left: 80px;
}

#logo{
	margin-top: -15px;
	margin-left: 80%;
	padding: 0px;
	width: 130px;
	height: 65px;
}

.navbar{
	background-color: white;
	margin-top: 0px;
	height: 70px;
	border-width: 2px;
	color: #d1d1d1;
	border-color: #d1d1d1;
	border-bottom: 0px;
	border-color: transparent;
}

.input-group{
	margin-left: 11%;
	margin-top: 0;
	width: 80%;
}

.material-icons{
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 30%;
	font-size: 25px;
	color: #d6d6d6;

}

.material-icons:hover{
	color: #8e8e8e;
}

.clickableUsername:hover {
	color: white;
}

.clickableUsername {
	color: white;
}

.material-icons:active{
	color: #8e8e8e;
}

.input-group-btn{
	float: center;
}


.exploreYoutubeArea{
	margin-top: 20px;
	margin-right: 25px;
	margin-left: 100px;
	/*display: flex;*/
	/*box-sizing: border-box;*/
}

.welcomeLogo {
	padding: 50px;
}

.jumbotron {
	margin-top: 20%;
	background-color: white;
}

.emptyResText {
	margin-top: 100px;
	color: white;
	font-size: 30px;
	text-align: center;
}

#logInButton {
	height: 30%;
	width: 70%;
	background-color: #c8d9ec;
	border-radius: 5px;
	padding: 10px;
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-top: 100px;
}

.Welcome {
	height: 100%;
}

#welcome {
	text-align: center;
}

#signup {
	text-align: center;
}

.actionButton {
	background-color: #c8d9ec;
	border-radius: 5px;
	padding: 10px;
	color: black;
}

.EditProfile {
	margin-top: 70px;
}

.SelectProfile {
	margin-top: 50px;
}

.Profile {
	margin-top: 50px;
}

/* Flow.js */

.exploreSmallYoutube{
	width: 270px;
	height: 150px;
}


#file {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.exploreSmallYoutubeArea{
	margin-right: 55px;
	margin-left: 40px;
}

.exploreSmallYoutubeButton{
	width: 270px;
	height: 45px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
	margin-bottom: 30px;
}

#myModalLabel{
	text-align: center;
}

.modalDescriptionBox{
	width: 474.32px;
	height: 100px;
}

.modal-body{
	margin-right: 10px;
}

#modalDescription{
	margin-top: 15px;
	margin-bottom: 15px;
	/*margin-left: 65px;*/
	text-align: center;
	font-size: 18px;
}

#message input,
#message textarea {
	width: 250px;
	height: 40px;
	padding: 10px;
}

#message li input[type=text],
#message li textarea {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: none;
}

#message li textarea {
	height: 150px;
	resize: none;
}

#modalVideo{
	width: 474.32px;
	height: 242.55px;
}

#modalDescriptionBoxShare{
	font-size: 16px;
}

.exploreChosenYoutube{
	border: 0.5px solid #262626;
	margin-right: 3px;
}

#promotedArea{
	margin-top: 20px;
	margin-left: 90px;
}

#promotedVideo{
	width: 840px;
	height: 472.5px;
	margin-left: 100px;
}

#sharePromotedVideo{
	width: 840px;
	margin-left: 100px;
}


.profileVideo {
	text-align: center;
	margin-bottom: 5px;
}

.youtubePost {
	color: #ededed;
	display: block;
	margin-bottom: 5px;

}

.youtubePost {
	margin-left:55px;
}

.postText {
	font-style: italic;
}

.shareButton{
	width: 758px;
	height: 60px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.shareButtonProfile {
	width: 100%;
	height: 60px;
	margin-top: -5px;
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.removeShareButton {
	opacity: 100%;
	background-color: #3a3a3a;
	color: #d6d6d6;
	border: 0.5px solid #262626;
}

.friendFlowArea{
	margin-top: 0px;
}

.otherProfile {
	margin-top: 50px;
}

.youtubePostHead {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #d6d6d6;
}

.youtubePostVideo{
	margin-bottom: 30px;
}

.FlowVertical {
	margin-top: 50px;
}

.FlowVerticalVideo {
	margin-bottom: 5px;
}

.followButtons{
	margin-top: 20px;
}

.ProfilePictureArea{
	margin-top: 40px;
	margin-left: -50px;
}

.glyphicon-cog{
	margin-left: 30px;
}

#follow{
	width: 100px;
	font-size: 12px;
	height: 50px;
}

#youtubePostButton {
	margin-bottom: 40px;
}

.resUserPicture{
	width: 180px;
	height: 18 0px;
	border-radius: 50%;
	object-fit: cover;
	margin-top: 20px;
}

.resUsername{
	color: #d6d6d6;
}

.resUsers{
	color: #d6d6d6;
}

.resUsersText{
	color: #d6d6d6;
	margin-top: 50px;
	text-align: center;
}

#exploreHeadline{
	color: #d6d6d6;
	text-align: center;
	color: #d6d6d6;
	margin-top: 25px;
}

.relativeDiv {
	position: relative;
}

.img__description {
	position: absolute;
	top: 55px;
	bottom: 0;
	left: 95px;
	right: 0;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	font-size: 30px;

	/* transition effect. not necessary */
	transition: opacity .5s, visibility .5s;
}

.relativeDiv:hover .img__description {
	visibility: visible;
	opacity: 1;
}

.loaderIcon {
	width:100%;
	height: 35px;
	font-size: 20px;
	background-color: #363636;
	margin-top:20px;
	text-align: center;
	color: white;
	font-style: italic;
}

.changeProfilePic {
	color: #d6d6d6;
	font-size: 16px;
	float: center;
	padding-top: 8px;
	height: 40px;
	width: 200px;
	margin-bottom: 10px;
	margin-left: 140px;
	background-color: #3a3a3a;
}

.changeProfilePicUndertext {
	color: #d6d6d6;
	font-size: 14px;
	float: center;
	font-style: italic;
}

.collapse{
	background-color: white;
	color: #d6d6d6;
}

.navbar-toggle{
	color: #d6d6d6;
}

.navbar-toggle:hover{
	color: #8e8e8e;
}

.navbar-collapse{
	border-color: white;
}

#dropdownelements{
	margin-top: 5%;
	color: #d6d6d6;
}

#dropdownelements:hover{
	color: #8e8e8e;
}

#welcomeJumbotron{
	height: 80vh;
}
